/* 
################################
GENERAL 
################################
*/ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {/* '*' targets the whole page */
    margin : 0;
    padding : 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth; /* Helps the browser experience smoother when navigating between pages */
}

p {
    color: rgb(85,85,85);
}

a, .btn {
    transition: all 300ms ease;
}

/* 
################################
RECORD AUDIO SECTION 
################################
*/

.title {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.audio-playback-container {
    width: 100%;
}

.audio-playback-container audio {
    margin: 0 auto;
    display: table;
}

.btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

/* 
################################
DISPLAY AUDIO SECTION 
################################
*/

.audio-display-container {
    margin-top: 2rem;
    padding: 0.5rem;
    border: 0.15rem solid black;
    border-radius: 0.5rem;
    /* width: fit-content; */
}

.audio-record-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 1.5rem;
}