/* 
################################
GENERAL 
################################
*/ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {/* '*' targets the whole page */
    margin : 0;
    padding : 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth; /* Helps the browser experience smoother when navigating between pages */
}

p {
    color: rgb(85,85,85);
}

a, .btn {
    transition: all 300ms ease;
}

/* 
################################
RECORD AUDIO SECTION 
################################
*/

.title {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.audio-playback-container {
    width: 100%;
}

.audio-playback-container audio {
    margin: 0 auto;
    display: table;
}

.btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

/* 
################################
DISPLAY AUDIO SECTION 
################################
*/

.hidden {
    display: none;
}

.audio-display-section {
    align-items: center;
}

.audio-display-container {
    border: 0.1rem solid black;
    border-radius: 1.5rem;
    margin: 1.5rem auto;
    width: fit-content;
    padding: 0.5rem 1.5rem;
}

.audio-record-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;
    gap: 0.75rem;
}

.audio-record-container h3 {
    padding-right: 2.5rem;
}